<div class="container">
  <form [formGroup]="myform" (ngSubmit)="SaveProduct(myform.value)">
    <div class="row">
      <div class="col-6">
        <input
          type="hidden"
          class="form-control"
          placeholder="id"
          name="id"
          formControlName="id"
          required
          value="{{ myform.value.id }}"
        />
        <input
          type="text"
          class="form-control"
          placeholder="name"
          name="name"
          formControlName="name"
          required
          value="{{ myform.value.name }}"
        />
        <div *ngif="name.errors['required']" class="alert alert-danger">
          le name est un champ oligatoire
        </div>
      </div>
      <div class="col-3">
        <input
          type="text"
          class="form-control"
          placeholder="price"
          name="price"
          formControlName="price"
          required
          value="{{ myform.value.price }}"
        />
        <div
          *ngif="
            ValueRequired['price'].errors &&
            ValueRequired['price'].errors['required']
          "
          class="alert alert-danger"
        >
          le prix est un champ oligatoire
        </div>
      </div>
      <div class="col-3">
        <input
          type="text"
          class="form-control"
          placeholder="stock"
          name="stock"
          formControlName="stock"
          required
          value="{{ myform.value.stock }}"
        />
        <div
          *ngif="
            ValueRequired['stock'].errors &&
            ValueRequired['stock'].errors['required']
          "
          class="alert alert-danger"
        >
          le stock est un champ oligatoire
        </div>
      </div>
    </div>
    <div style="float: right; padding-top: 20px">
      <button type="submit" class="btn btn-primary mb-2">Ajouter</button>
    </div>
  </form>
</div>
